In [35]:
import pandas as pd
import numpy as np
import logging

# notebook only
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)


filename="../data/data.csv"
df = pd.read_csv(filename)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [36]:
missing = sum(df.isna().sum())
logging.info(f"Missing elements: {missing}")

INFO:root:Missing elements: 0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [38]:
cols = df.columns
object_cols = []
for i in cols:
    col = df[i]
    if col.dtype == "object":
        object_cols.append(i)

logging.info(f"The columns which contain objects are: {', '.join(object_cols)}")
logging.info("These columns will be encoded")

INFO:root:The columns which contain objects are: Gender, Item Purchased, Category, Location, Size, Color, Season, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Payment Method, Frequency of Purchases
INFO:root:These columns will be encoded

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
logging.info("Encoding.......")
for col in object_cols:
    df[col] = le.fit_transform(df[col])
logging.info("Encoding complete")

INFO:root:Encoding.......

<bound method Series.unique of 0       1
1       1
2       1
3       1
4       1
       ..
3895    0
3896    0
3897    0
3898    0
3899    0
Name: Gender, Length: 3900, dtype: int64>
<bound method Series.unique of 0        2
1       23
2       11
3       14
4        2
        ..
3895     9
3896     0
3897     1
3898    17
3899     7
Name: Item Purchased, Length: 3900, dtype: int64>
<bound method Series.unique of 0       1
1       1
2       1
3       2
4       1
       ..
3895    1
3896    0
3897    0
3898    2
3899    0
Name: Category, Length: 3900, dtype: int64>
<bound method Series.unique of 0       16
1       18
2       20
3       38
4       36
        ..
3895    45
3896    14
3897    29
3898    22
3899     4
Name: Location, Length: 3900, dtype: int64>
<bound method Series.unique of 0       0
1       0
2       2
3       1
4       1
       ..
3895    0
3896    0
3897    0
3898    2
3899    1
Name: Size, Length: 3900, dtype: int64>
<bound method Series.unique of 0        7
1       12
2       12
3       12
4       21
        ..
3895    21
3896    23
3897     8
3898     3
3899     0
Name: Color, Length: 3900, dtype: int64>
<bound method Series.unique of 0       3
1       3
2       1
3       1
4       1
       ..
3895    2
3896    1
3897    1
3898    2
3899    1
Name: Season, Length: 3900, dtype: int64>
<bound method Series.unique of 0       1
1       1
2       1
3       1
4       1
       ..
3895    0
3896    0
3897    0
3898    0
3899    0
Name: Subscription Status, Length: 3900, dtype: int64>
<bound method Series.unique of 0       1
1       1
2       2
3       3
4       2
       ..
3895    0
3896    5
3897    4
3898    1
3899    5
Name: Shipping Type, Length: 3900, dtype: int64>
<bound method Series.unique of 0       1
1       1
2       1
3       1
4       1
       ..
3895    0
3896    0
3897    0
3898    0
3899    0
Name: Discount Applied, Length: 3900, dtype: int64>
<bound method Series.unique of 0       1
1       1
2       1
3       1
4       1
       ..
3895    0
3896    0
3897    0
3898    0
3899    0
Name: Promo Code Used, Length: 3900, dtype: int64>
<bound method Series.unique of 0       5
1       1
2       2
3       4
4       4
       ..
3895    5
3896    0
3897    5
3898    5
3899    5
Name: Payment Method, Length: 3900, dtype: int64>
<bound method Series.unique of 0       3
1       3
2       6
3       6
4       0
       ..
3895    6
3896    1
3897    5
3898    6
3899    5
Name: Frequency of Purchases, Length: 3900, dtype: int64>

In [40]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,1,2,1,53,16,0,7,3,3.1,1,1,1,1,14,5,3
1,2,19,1,23,1,64,18,0,12,3,3.1,1,1,1,1,2,1,3
2,3,50,1,11,1,73,20,2,12,1,3.1,1,2,1,1,23,2,6
3,4,21,1,14,2,90,38,1,12,1,3.5,1,3,1,1,49,4,6
4,5,45,1,2,1,49,36,1,21,1,2.7,1,2,1,1,31,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,0,9,1,28,45,0,21,2,4.2,0,0,0,0,32,5,6
3896,3897,52,0,0,0,49,14,0,23,1,4.5,0,5,0,0,41,0,1
3897,3898,46,0,1,0,33,29,0,8,1,2.9,0,4,0,0,24,5,5
3898,3899,44,0,17,2,77,22,2,3,2,3.8,0,1,0,0,24,5,6
3899,3900,52,0,7,0,81,4,1,0,1,3.1,0,5,0,0,33,5,5